{% include "backend/header.html" %}

   <div class="static-content-wrapper">
                    <div class="static-content">
                        <div class="page-content">
                            <ol class="breadcrumb">
                                
<li class=""><a href="index.html">Home</a></li>
<li class="active"><a href="index.html">Dashboard</a></li>

                            </ol>
                            <div class="container-fluid">
                                

<div class="row">
	<div class="col-md-3">
		<div class="info-tile tile-orange">
			<div class="tile-icon"><i class="ti ti-user" style="color: #D875D3;"></i></div>
			<div class="tile-heading"><span>Votos femeninos</span></div>
			<div class="tile-body"><span>{{votos_femeninos}}</span></div>
			<div class="tile-footer"><span class="text-success">{{per_femenino}}% </span></div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="info-tile tile-success">
			<div class="tile-icon"><i class="ti ti-user" style="color: #1A1DDA;"></i></div>
			<div class="tile-heading"><span>Voto Masculino</span></div>
			<div class="tile-body"><span>{{votos_masculinos}}</span></div>
			<div class="tile-footer"><span class="text-success">{{ per_masculino }}%</span></div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="info-tile tile-info">
			<div class="tile-icon"><i class="ti ti-face-sad"></i></div>
			<div class="tile-heading"><span>Abstencionismo Masculino</span></div>
			<div class="tile-body"><span>{{abstencionismo_masculino}}</span></div>
			<div class="tile-footer"><span class="text-success">{{ per_abs_masculino }}% </i></span></div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="info-tile tile-danger">
			<div class="tile-icon"><i class="ti ti-face-sad"></i></div>
			<div class="tile-heading"><span>Abstencionismo Femenino</span></div>
			<div class="tile-body"><span>{{ abstencionismo_femenino }}</span></div>
			<div class="tile-footer"><span class="text-success">{{ per_abs_femenino }}% </span></div>
		</div>
	</div>
</div>

<div data-widget-group="group1">
	<div class="row">
		

	</div>


	<div class="row">
		
		<div class="col-md-3">

			<div class="panel panel-midnightblue widget-progress" data-widget='{"draggable": "false"}'>
                <div class="panel-heading">
                    <h2>Votos</h2>
                    <div class="panel-ctrls button-icon-bg" 
						data-actions-container="" 
						data-action-refresh-demo='{"type": "circular"}'
						>
					</div>
                </div>
                <div class="panel-body">
					<div class="easypiechart mb-md" id="progress" data-percent="100">
						<span class="percent-non"></span>
					</div>
                </div>
                <div class="panel-footer">
					<div class="tabular">
						<div class="tabular-row">
							<div class="tabular-cell">
								<span class="status-total">Total</span>
								<span class="status-value" id="total">{{  total_votos }}</span>
							</div>
							<div class="tabular-cell">
								<span class="status-pending">Faltan</span>
								<span class="status-value" id="faltante">{{ faltante }}</span>
							</div>
						</div>
					</div>
				</div>
            </div>

			
		</div>
		<div class="col-md-4">
			<div class="panel panel-teal" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="" style="visibility: visible; opacity: 1; display: block; transform: translateY(0px);">
				<div class="panel-heading">
					<h2>Mesas activas en tiempo real</h2>
					
				</div>
				<div class="panel-body no-padding">
					<table class="table browsers m-n">
						<tbody id="mesas_activas">
							
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>


	

	<div class="row">
		
		
		
	</div>

</div>

                            </div> <!-- .container-fluid -->
                        </div> <!-- #page-content -->
                    </div>

<script>
	setInterval(function() {
		$.get('/votaciones/get-stats/', function(data) {
			$("#progress").attr("data-percent", data.per_femenino + data.per_masculino);
			$("#total").html(data.total_votos);
			$("#faltante").html(data.faltante);
			$("#votos_totales_realtime").html(data.total_votos);
		});

		$.get('/votaciones/backend/get-active-tables/', function(data) {
			$("#mesas_activas").empty();
			
			for(var i = 0; i < data.tables_names.length; i++) {
				html = "<tr>";
				html +=	"<td>"+data.tables_names[i]+"</td>";
				html += "</tr>";
				
				$("#mesas_activas").append(html);
			}
			

		});
		

	}, 5000);
	
</script>
{% include "backend/footer.html" %}